body {
    font-family: sans-serif; background: #111; 
}

h1 {
    color: #666;
    font-family:Courier, monospace;
    font-size:50px;
    font-weight:900;
    border-bottom: 3px solid #ddd; 
}

h2 {
    color: #444;
    font-family:"Courier New", Courier, monospace;
    font-size:30px;
    font-weight:900;
    padding:2px;
}
.page           { margin: 2em auto; width: 70em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

a {
    color: #377BA8; 
}


#scoreboard table {
    border-collapse:collapse;
    empty-cells: hide;
}

#scoreboard td {
    text-align:center;
    padding:5px;
    font-family:"Courier New", Courier, monospace;
    font-size:90%;
    font-weight:900;
}
.blackwhite {
    color:#fff;
    background-color: #000;
}
.grayblack {
    background-color: #aaa;
}
.flag {
    color:#fff;
    background-color: #222;
}
.captured {
    background-color: #ac4;
}
.open {
    background-color: #ddd;
}
