{% extends "layout.html" %}
{% block body %}
<div id="scoreboard">
<h2>Scoreboard:</h2>
<table>
  <tr>
    <td></td>
    {% for flag in flags %}
    <td class="flag">
      {{ flag.name }}({{ flag.points }})
    </td>
    {% else %}
    <td class="flag"> No flag registered </td>
    {% endfor %}
    <td class="total">
      Total
    </td>
  </tr>
  {% for user in users %}
  <tr>
    <td class="user"> 
      {{ user.name }}
    </td>
    {% for flag in flags %}
    {% if flag.name in user.flags %}
    <td class="captured">
      Captured
    </td>
    {% else %}
    <td class="open">
      Open
    </td>
    {% endif %}
    {% endfor %}
    <td class="points">
      {{ user.points }}
    </td>
  </tr>    
  {% else %}
  <tr><td class="user"> No User registered </tr></td>    
{% endfor %}    
</table>

<br>
{% if session.logged_in %}
<h2>Submit Flag:</h2>
<form action="{{ url_for('get_flag') }}" method=post class=add-user>
  <b>flag:</b><input type=text size=80 name=flag><input type=submit value=Submit>
</form>
{% endif %}

<h2>Tasks:</h2>
{% for flag in flags %}
<h3> {{ flag.name }} </h3>
<p> {{ flag.description }}</p>
{% else %}
<h3> No registered tasks. </h3>
{% endfor %}

</div>
{% endblock %}
